<h1>Admin Page</h1>

<%= link_to 'Create Admin', '/users/new' %> <br/> <br/>
<%= link_to 'Edit Profile', edit_user_path(@user) %> <br/>     <br/>
<%= link_to 'Posts', '/posts' %>     <br/>                           <br/>
<%= link_to 'Users', '/users' %>   <br/>                                   <br/>
<%= link_to 'User Statistics', '/users/statistics' %>

